*
{
	padding: 0;
	margin: 0;
}
body
{
	background-color:LightGray;
	background-size: cover;
	background-position:center;
	box-sizing: border-box;
	font-family:sana-serif;
}
.image
{
	width:950px;
}

.text
{
	margin-right:300px;;
	margin-top:-250px;
	
}
.text1
{
	margin-right:70px;
}

.text2
{
	margin-right:90px;
}
.text3
{
	margin-right:100px;
}
.menu-bar
{
	background: rgb(40, 42, 53);
	text-align:center;
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;
}
.menu-bar ul li
{
	width: 120px;
	margin:10px;
	padding: 10px;
}
.footer
{
	background: rgb(40, 42, 53);
	text-align:center;
	margin-top:100px;
}
.footer ul li
{
	display:inline-flex;
	list-style:none;
	color:#fff;
	margin:10px;
	padding: 10px;
}
.btn
{
	background-color:orange;
	color:#fff;
	padding: 8px;
	margin-bottom:20px;
}